version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: abhfl-middleware-server
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - backend

networks:
  backend:
